@page
@model IndexModel
@{
   ViewData["Title"] = "Counter";
}
	
<h2>Counter: @Models.Counter.Value</h2>
<form method="post">
    <button type="submit" class="btn btn-primary">Increment Counter</button>
</form>
